/* Desktop */
	
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199.9px)
  body, .btn
    font-size: 14px

  .section-title
    font-size: 1.75rem

  section
    padding: 40px 0 60px 0

  .greeting
    .greeting-content
      h1
        font-size: 2rem
      p
        font-size: 14px

  .services
    .tab-content
      min-height: 240px
    
  .greeting:after, .advantages:before, .advantages:after
      border-top-width: 80px

  .stages
    &:before, &:after
      border-bottom-width: 80px

  .advantages
    padding: 120px 0 140px 0
    .advantages-content
      .card
        min-height: 260px
        .card-img
          width: 70px
        .card-title
          font-size: 1rem
  
  .reviews
    padding-bottom: 40px

  .stages
    padding: 80px 0 120px 0
    .stages-content
      .wrapper
        .stage
          p
            padding: 14px 20px

  footer
    h5
      font-size: 1rem

  .contacts
    .contacts-list
      li
        font-size: 1rem
        a
          padding-left: 26px
          &:before
            width: 18px
            height: 18px

/* Medium Devices, Desktops */
@media only screen and (max-width : 991.9px)
  .section-title
    font-size: 1.5rem
    &:after
      width: 20px
      top: 60%

  .advantages
    .advantages-content
      .card
        min-height: 250px
        margin-top: 30px
        .card-img
          width: 80px
        .card-title
          font-size: 1.25rem

  .stages
    .stages-content
      .wrapper
        width: 60%
        
  .contacts
    h2
      font-size: 1.5rem

/* Small Devices, Tablets */
@media only screen and (max-width : 767.9px)
  section
    padding: 30px 0 40px 0

  .greeting:after, .advantages:before, .advantages:after
      border-top-width: 60px

  .services
    .services-content
      .tab-content
        margin-bottom: 20px
        .list-services
          margin: 0

  .stages
    &:before, &:after
      border-bottom-width: 60px

  .advantages
    padding: 100px 0 80px 0
    .advantages-content
      .card
        width: 60%
        margin-left: auto
        margin-right: auto
        .card-img
          width: 70px

  .stages
    .stages-content
      .wrapper
        width: 80%

  .reviews
    .reviews-content
      .reviews-slider
        .slick-prev
          left: 0
        .slick-next
          right: 0

  .contacts
    .question
      margin-top: 40px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479.9px)
  header
    .header-contacts
      .email
        margin-left: 20px

  .greeting:after, .advantages:before, .advantages:after
      border-top-width: 40px

  .stages
    &:before, &:after
      border-bottom-width: 40px

  .greeting
    .greeting-content
      h1
        font-size: 1.5rem

  .advantages
    padding-top: 80px
    .advantages-content
      .card
        width: 90%

  .reviews
    .reviews-content
      &:before, &:after
        display: none
      .reviews-slider
        .slick-prev, .slick-next
          top: -56px
      
  .stages
    padding: 60px 0 100px 0
    .stages-content
      .wrapper
        width: 100%

  .contacts
    h2
      font-size: 1.25rem

/* Custom, iPhone Retina */
@media only screen and (max-width : 319.9px)
  header
    .header-contacts
      justify-content: space-between


/* Mobile */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  /**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  /**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  /**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  /**/
