@import config

.btn
  border: none
  padding: 8px 20px
  border-radius: 20px
  background: $accent
  border-bottom: 3px solid darken($accent, 10%)
  color: #fff
  &:focus
    box-shadow: none
  &:hover
    background: darken($accent, 5%)
    color: #fff

a.btn
  display: inline-block

.cover
  position: relative
  background-position: center top !important
  background-size: cover !important
  &:before
    content: ''
    width: 100%
    height: 100%
    position: absolute
    background: #fff
    opacity: .6
    left: 0
    top: 0

.contacts
  padding: 10px 0
  &-list
    margin: 0
    padding: 0
    font-size: 14px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    list-style: none
    li
      position: relative
      margin-left: 80px
      &:before
        left: -22px
      &:first-child
        margin-left: 0
      &:before
        content: ''
        position: absolute
        width: 16px
        height: 16px
        top: 3px
  .location
    &:before
      background: url(/images/dest/contacts.png)
  .email
    &:before
      background: url(/images/dest/contacts.png)
  .phone
    font-family: $robotoBold
    &:before
      background: url(/images/dest/contacts.png)

header
  width: 100vw
  height: 101.2px
  .contacts
    background: #fff
    &-list
      li
        a
          color: #333
      .location
        &:before
          background-position: 32px 0
      .email
        &:before
          background-position: 16px 0
          left: -24px
          top: 4px
      .phone
        a
          color: $accent
        &:before
          background-position: 0 16px
  .navbar
    width: 100vw
    background: $head
    .navbar-brand, .nav-link
      color: #fff
    .nav-link
      cursor: pointer

.section-title
  font-weight: bold
  padding-bottom: 40px
  position: relative
  text-align: center
  text-transform: uppercase
  &:after
    content: ''
    width: 30px
    height: 3px
    background: #333
    position: absolute
    transform: translateX(-50%)
    top: 70%
    left: 50%

.greeting
  width: 100vw
  height: calc(100vh - 101.2px)
  display: flex
  align-items: center
  background: url(/images/dest/greeting_bg.jpg) no-repeat
  &-content
    p
      padding: 10px 0 20px 0
      color: #000000

.services
  &-content
    text-align: center
    .nav-tabs
      border-color: $accent
      .nav-link.active, .nav-link.active:hover
        border-color: $accent $accent #fff
        color: $accent
      .nav-link
        border-radius: 0
        &:hover
          border-bottom-color: $accent
          color: #333
    .tab-content
      min-height: 300px
      padding-top: 20px
      text-align: left
      .list-services
        list-style: none
        li
          padding: 8px 0

.advantages
  padding-bottom: 120px
  background: url(/images/dest/advantages_bg.jpg)
  &-content
    .card
      height: 100%
      border: none
      border-radius: 0
      .card-body
        padding: 40px 20px 20px 20px
        text-align: center
        .card-img
          width: 100px
        .card-title
          margin: 20px 0 10px 0

.reviews
  text-align: center
  &-content
    position: relative
    text-align: left
    &:before, &:after
      content: ''
      width: 100px
      height: 100%
      position: absolute
      z-index: 1
      top: 0
    &:before
      left: 0
      box-shadow: inset 140px 0 40px -60px #fff
    &:after
      right: 0
      box-shadow: inset -140px 0 40px -60px #fff
    .review
      outline: none
      padding: 0 40px 20px 40px
      position: relative
      .reviewer
        line-height: 1
      .review-date
        font-size: 12px
        color: #cccccc
      .review-text
        margin-top: 6px
    .slick-current
      &:before, &:after
        font-size: 72px
        position: absolute
        transform: translateY(-50%)
        color: #ccc
        top: 50%
      &:before
        content: '„'
        left: 0
      &:after
        content: '“'
        right: 0
    .slick-prev, .slick-next
      width: 40px
      height: 40px
      background: $accent
      border-radius: 50%
      z-index: 2

.stages
  background: url(/images/dest/stages_bg.jpg)
  &-content
    margin-top: 20px
    position: relative
    z-index: 4
    .timeline
      width: 4px
      height: 100%
      margin: 0 auto
      position: absolute
      background: lighten($accent, 10%)
      transform: translateX(-50%)
      left: 50%
    .stage
      padding-top: 50px
      &:before
        content: ''
        padding: 8px 16px
        background: $accent
        border-radius: 50%
        border: 3px solid lighten($accent, 10%)
        position: absolute
      &-content
        padding: 10px 20px
        background: #fff
        position: relative
        &:after
          content: ''
          position: absolute
          border-top: 6px solid transparent
          border-bottom: 6px solid transparent
          transform: translateY(-50%)
          top: 50%
    .left
      text-align: right
      &:before
        right: -24px
      .stage-content
        margin-right: 30px
        &:after
          border-left: 10px solid #fff
          right: -10px
    .right
      &:before
        left: -24px
      .stage-content
        margin-left: 30px
        &:after
          border-right: 10px solid #fff
          left: -10px
    .first-step
      padding-top: 0
      &:before
        content: '1'
    .second-step
      &:before
        content: '2'
    .third-step
      &:before
        content: '3'
    .fourth-step
      &:before
        content: '4'
		.fifth-step
      &:before
        content: '5'

.consultation
  &-content
    text-align: center
    .btn-request
      margin-top: 20px

footer
  width: 100vw
  background: $head
  .contacts
    padding: 20px 0
    border-bottom: 1px solid $accent
    color: $accent
    &-list
      &:before
        left: 20px
        top: 5px
      li
        a
          color: $accent
      .location
        &:before
          background-position: 32px 16px
      .email
        &:before
          background-position: 16px 16px
      .phone
        &:before
          background-position: 0 16px
  .copyright
    padding: 10px 0 10px 0
    font-size: 12px
    text-align: center
    color: #fff

.modal
  &-content
    .modal-body
      .form-control:focus
        box-shadow: none
      .form-check-label
        a
          text-decoration: underline
      .required-star
        padding-left: 4px
        color: #ff0000
