@import config

.btn
  border: none
  padding: 8px 20px
  border-radius: 20px
  display: block
  background: #ed9121
  color: #fff
  &:focus
    box-shadow: none
  &:hover
    background: darken(#ed9121, 5%)
    color: #fff

.cover
  position: relative
  background-position: center top !important
  background-size: cover !important
  &:before
    content: ''
    width: 100%
    height: 100%
    position: absolute
    background: #fff
    opacity: .6
    left: 0
    top: 0

header
  width: 100vw
  height: 101.2px
  .contacts
    padding: 10px 0
    background: #fff
    &-list
      margin: 0
      font-size: 14px
      display: flex
      flex-direction: row
      justify-content: flex-end
      align-items: center
      list-style: none
      li
        margin-left: 60px
        position: relative
        &:before
          content: ''
          position: absolute
          width: 16px
          height: 16px
          left: -20px
          background-repeat: no-repeat
          top: 3px
        &:first-child
          margin-left: 0
        a
          color: #333
      .location
        &:before
          background: url(/images/dest/location.png)
      .email
        &:before
          background: url(/images/dest/email.png)
          left: -24px
          top: 4px
      .phone
        font-family: $robotoBold
        &:before
          background: url(/images/dest/phone.png)
  .navbar
    width: 100vw
    background: $head
    .navbar-brand, .nav-link
      color: #fff
    .nav-link
      cursor: pointer

.section-title
  font-weight: bold
  padding: 20px 0 40px 0
  position: relative
  text-align: center
  text-transform: uppercase
  &:after
    content: ''
    width: 30px
    height: 3px
    background: #333
    position: absolute
    transform: translateX(-50%)
    top: 70%
    left: 50%

.greeting
  width: 100vw
  height: calc(100vh - 101.2px)
  display: flex
  align-items: center
  background: url(/images/dest/greeting_bg.jpg) no-repeat
  &-content
    p
      color: #000000

.services
  &-content
    text-align: center
    .tab-content
      min-height: 300px
      padding-top: 20px
      text-align: left
  .btn-all-services
    display: inline-block

.advantages
  background: url(/images/dest/advantages_bg.jpg)
  .advantages-content
    .card
      height: 100%
      border: none
      border-radius: 0
      .card-body
        padding: 40px 20px 20px 20px
        text-align: center
        .card-img
          width: 100px
        .card-title
          margin: 20px 0 10px 0
